<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">
<body>

<div class="registration-card">
    <form action="" id="registration">
        <input type="text" id="login" name="login" style="margin-bottom: 10px" placeholder="Почта или номер телефона"
               class="text-field">
        <input type="text" id="password" name="password" style="margin-bottom: 10px; display: none" class="text-field">
        <button type="button" id="register-button" class="button-b" th:onclick="checkLogin()">Продолжить</button>
        <button type="button" class="button-b" th:onclick="back()">Назад</button>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/registration.js}"></script>
</body>
</html>