<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">
<body>

<div class="welcome-card">
    <form action="">
        <input type="text" name="login" style="margin-bottom: 10px" id="" placeholder="Почта или номер телефона" class="text-field">
        <input type="text" name="login" style="margin-bottom: 10px" id="" placeholder="Пароль" class="text-field">
        <button class="button" type="submit">Войти</button>
    </form>
</div>

<div class="welcome-card">
    <form action="">
        <button type="button" class="btn btn-primary button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Регистрация
        </button>
    </form>
</div>

</body>
</html>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <input type="text" name="login" style="margin-bottom: 10px" id="" placeholder="Почта или номер телефона" class="text-field">
                    <input type="text" name="login" style="margin-bottom: 10px" id="" placeholder="Пароль" class="text-field">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>